html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .ql-toolbar {
  border-radius: 1rem;
} */

.ql-toolbar .ql-stroke {
  stroke: url(#lgrad);
}

.ql-toolbar .ql-fill {
  fill: url(#lgrad);
}

.ql-toolbar .ql-list svg .ql-stroke {
  stroke: rgba(255, 188, 108, 1);
}

.ql-toolbar .ql-align svg .ql-stroke {
  stroke: rgba(255, 188, 108, 1);
}
